<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Your cart</h1>
  </div>
  <div class="panel-body">
    <ul>
      <li ng-repeat="item in cart">
        <a ui-sref=""><h4>{{item.product.name}}</h4></a>
        <p>{{item.product.description}}</p>
        <p>You're buying {{item.quantity}} of these.</p>
        <button
          ng-show="editIndex !== $index"
          class="btn btn-info"
          ng-click="edit($index)">
          Edit this item
        </button><button
          ng-show="editIndex !== $index"
          class="btn btn-warning"
          ng-click="delete(item)">
          Delete Item
        </button>
        <div
          ng-show="editIndex === $index">
          <input 
            class="form-control" 
            type="text"
            ng-model="item.quantity" />
          <button 
            class="btn btn-success"
            ng-click="saveQuantity(item)">Save quantity</button>
        </div>
        <!-- <p ng-show="saved">Savid!</p> -->
      </li>
    </ul>
    <button 
      ng-click="deleteCart()"
      class="btn btn-danger">Delete Cart</button>
  </div>
</div>
