#home {


	h1 {

		font-weight: 300;
		color: black;
	}

	.main-header {
		text-align: center;
		padding-top: 100px;
	}

	.attribution {
		float: right;
		font-weight: 400;
		letter-spacing: 0;
	}

	div.img {
		text-align: center;
		margin: auto;
	}
}
