<button class="btn btn-info" ng-hide = "adding" ng-click="adding = !adding">Add a product</button>
<form ng-show="adding" ng-submit="addProduct(product, store)">
    <ul>
        <li> Name:
            <input ng-model="product.name"></input>
        </li>
        <li>Price:
            <input ng-model="product.price"></input>
        </li>
        <li>Description:
            <input ng-model="product.description"></input>
        </li>
        <li>Inventory:
            <input ng-model="product.inventory"></input>
        </li>
        <li>Photo URL:
            <input ng-model="product.photoUrl"></input>
        </li>
        <li>Category: (required)
            <category-edit selected="product.category"></category-edit>
        </li>
    </ul>
    <div>
        <button class="btn btn-success" ng-show="adding" type="submit" ng-click="adding = false">Add your product</button>
				<button class="btn btn-danger" ng-show="adding" ng-click="adding = false">Cancel</button>
		</div>
</form>
