<button class="btn btn-info" ng-click="adding = true">Add a product</button>
<form ng-show="adding" ng-submit="addProduct(product, store)">
    <ul>
        <li> Name:
            <input ng-model="product.name"></input>
        </li>
        <li>Price:
            <input ng-model="product.price"></input>
        </li>
        <li>Description:
            <input ng-model="product.description"></input>
        </li>
        <li>Inventory:
            <input ng-model="product.inventory"></input>
        </li>
        <li>Photo URL:
            <input ng-model="product.photoUrl"></input>
        </li>
        <li>Category:
            <category-edit selected="product.category"></category-edit>
        </li>
    </ul>
    <div>
        <button class="btn btn-danger" ng-show="adding" type="submit">Add your product</button>
    </div>
</form>
