.product-page {

	.discountedDetail {
		color: red;
	}

	h3 {
		font-size: 40px;
	}
	a {
		color: black;
		text-decoration: none;
	}
	.details {
		list-style-type: none;
		padding: 0;
	}

	.btn-left {
	margin: 15px 0px 15px;
	}

	.btn-add {
		margin-right: 55px;
	}

	.thumb {
		max-height: 310px;
		max-width: 310px;
		margin-bottom:10px;
	}

	.details {
		width: 300px;
		padding: 0px;
		li {
			margin-bottom: 10px;
		}
	}

	.quantity {
		width: 70px;
		float: left;
	}

	.quant-select {
		margin-top: 245px;
	}

	.panel {
		margin-top: 10px;
	}
}
