.storefront {
	border: 1px solid black;
	padding: 0;
	margin: 10px;
	text-align: center;
	width: 31%;
	box-sizing: border-box;
	transition: border 0.2s;

	a {
		text-decoration: none;
		color: black;
		transition: color 0.2s;
		h3 {
			padding-top: 70px;
		}
	}

	&:hover {
		border: 1px solid $mainColor;

		a {
			color: $mainColor;
		}
	}


	.store-panel {
		border: 25px solid white;

		padding: 0;

		.store-panel-inner {
			border: 1px solid black;
			height: 280px;
		}

	}
	.row {
		width: 100%;
		margin: 0px;
	}
}
