navbar {

	display: block;

	.navbar-inverse {
		background: #1F1F4F;
		background: -moz-linear-gradient(top,  #1F1F4F 0%, #8DA3E8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1F1F4F), color-stop(100%,#7db9e8));
		background: -webkit-linear-gradient(top,  #1F1F4F 0%,#8DA3E8 100%);
		background: -o-linear-gradient(top,  #1F1F4F 0%,#8DA3E8 100%);
		background: -ms-linear-gradient(top,  #1F1F4F 0%,#8DA3E8 100%);
		background: linear-gradient(to bottom,  #1F1F4F 0%,#8DA3E8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
		background-attachment: fixed;
		font-family: 'Roboto', sans-serif
	}

  .container {
    width: 91%;
    max-width: 1340px;
  }

  .navbar-inverse .navbar-nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#049300, 10%);
    }
    &:hover {
      background: none;
      color: #049300;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .signup-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background-color: rgb(244, 172, 50);
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;

    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
