<div class="row">
<div class="col-md-6">
	<a ng-show="isDetail" ui-sref="store({storeName: product.store.urlName})">Back to Store</a>
	<h3><a ui-sref="productDetail({productId: product._id })">{{product.name}}</a></h3>
	<form ng-show="editMode" ng-submit="editProduct(product)">
		<ul>
			<li>Name:<input ng-model = "product.name"></input></li>
			<li>Price:<input ng-model = "product.price"></input></li>
			<li>Description:<input ng-model = "product.description"></input></li>
			<li>Inventory:<input ng-model = "product.inventory"></input></li>
			<li ng-init="numCats = product.categories.length + 1">Categories: (required)
            <select ng-repeat="category in range(numCats)" ng-model="product.categories[$index]" ng-change="nextCat()" ng-options="cat.title for cat in categories"></select>
        </li>
		</ul>
		<div>
			<button class="btn" ng-show = "editMode" type="submit">Save Changes</button>
		</div>
	</form>
	<button class="btn btn-danger" ng-show = "editMode" ng-click="cancelEdit()">Cancel</button>
	<ul class="details" ng-hide="editMode">
		<li><strong>{{product.price | currency}}</strong></li>
		<br>
		<li>We have <strong>{{product.inventory}}</strong> in stock</li>
		<br>
		<li>{{product.description}}</li>
		<br>
		<li><strong>Categories:</strong><br><span ng-repeat="cat in product.categories">{{cat.title}}<br> </span></li>
		<br>
		<li><strong>Sold from:</strong> {{product.store.name}}</li>
	</ul>
	<ul>
	<div>
	  <button class="btn" ng-show = "(isAdmin || isOwner) && isDetail && !editMode" ng-click ="enableProductEdit()">Edit</button>
	</div>
</div>
	<div class="col-md-6 photo-container">
		<img  class = "pull-right thumb" ng-src = "{{product.photoUrl}}"></img>
	  	<div ng-show="!home">
		    <p>How many u want?</p>
			<div>
			    <input class="form-control quantity" ng-model="quantity" type='number'>
				<button class="btn btn-add" ng-show="!editMode" ng-click="addToCart(product, quantity)">Add to cart</button>
			</div>
		</div>
	</div>
</div>
<store-style css="product.store.css"></store-style>
