<div class="row">
<div class="col-md-8">
	<h3><a ui-sref="productDetail({productId: product._id })">{{product.name}}</a></h3>
	<ul>
		<li ng-hide = "editMode">${{product.price}}</li>
		<li ng-show= "editMode">Price:<input ng-model = "newProduct.price" ></input></li>
		<li ng-hide = "editMode">Description: {{product.description}}</li>
		<li ng-show= "editMode">Description:<input ng-model = "newProduct.description" ></input></li>
		<li ng-hide = "editMode">We have {{product.quantity}} in stock</li>
		<li ng-show= "editMode">Quantity:<input ng-model = "newProduct.quantity" ></input></li>
		<li ng-hide = "editMode">Sold from: {{product.store}}</li>
		<li ng-show= "editMode">Store:<input ng-model = "newProduct.store" ></input></li>
		<li ng-hide = "editMode">Category: {{product.category.title}}</li>
		<li ng-show= "editMode">Category:<input ng-model = "newProduct.title" ></input></li>
	  <li ng-show="!home">
	    <p>How many?</p>
	    <input ng-model="quantity" type='number'>
	  </li>
	  <button class="btn btn-success" ng-click="addToCart(product, quantity)">Add to cart</button>
	  <button class="btn btn-warning" ng-show = "isAdmin" ng-click = "toggleEdit()">Edit Product</button>
	</ul>
</div>
	<div class="col-md-4">
		<img  class = "pull-right" src = "{{product.photoUrl}}"></img>
	</div>
</div>
