<div class="top-bar">
	<div class="filter">
		<span>Filter by Category: </span>
		<category-nav selected="selected"></category-nav>
	</div>
	<div class="search">
		<p>Search All Products: <input ng-model="searchText"></p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"
	ng-repeat="product in products | filter:searchText:false | filter:selected">
		<div class="store-item">
			<product-detail product="product"></product-detail>
		</div>
	</div>
</div>
	<!--
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in products | filter:searchText:false | filter:selected">
		    <product-detail product="product"></product-detail>
		</li>
	</ul> -->
