<div class="search">
<label>Search All Products: <input ng-model="searchText"></label>
</div>
<div class="panel panel-default">

  <div class="panel-heading">
    <span>Category:</span>
    <category-nav selected="selected"></category-nav>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in products | filter:searchText:false | filter:selected">
        <product-detail product="product"></product-detail>
    </li>
    <li class="list-group-item">
        <add-product></add-product>
    </li>
  </ul>

</div>
