#login-form {
  width: 60%;
  margin: 0 auto;
}

#signup-form {
  width: 60%;
  margin: 0 auto;
}
.or {
	max-width: 10em;
}
.oauth {
	max-width: 18em;
}
.btn-social {
	text-align: center;
	width: 100%;
	border: solid black 1px;
}
