<h3>Welcome to {{store.name}}!</a></h3>
<div>
	<button class="btn btn-warning" ng-show = "(isAdmin || isOwner) && isDetail && !storeEdit" ng-click ="enableStoreEdit()">Edit</button>
</div>
<div ng-show="storeEdit" class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Edit your store!</h1>
	</div>
	<div class="panel-body {{store.urlName}}">
		<div class=edit-option>
			<p>Store Name</p>
			<input type="text" ng-model="store.name">
		</div>
		<div class="edit-option">
			<p>Store Navbar Roundness (1-100)</p>
			<input type="text" ng-model="store.css.round">
		</div>
		<div class="edit-option">
			<p>Font Type</p>
			<select ng-model="store.css.fontFamily">
			<option>Times New Roman</option>
			<option>Courier New</option>
			<option>Helvetica</option>
			<option>Verdana</option>
			</select>
		</div>

		<div class="edit-option">
			<p>Store Color</p>
			<select ng-model="store.css.color">
			<option>black</option>
			<option>blue</option>
			<option>white</option>
			<option>red</option>
			<option>pink</option>
			<option>lightBlue</option>
			<option>lightCoral</option>
			<option>lightGoldenRodYellow</option>
			<option>lightGray</option>
			<option>lightSeaGreen</option>
			<option>aquamarine</option>
			<option>ghostwhite</option>
			<option>indianred</option>
			<option>lavender</option>
			</select>
		</div>

		<div class="edit-option">
			<p>Navbar Color</p>
			<select ng-model="store.css.navcolor">
			<option>black</option>
			<option>blue</option>
			<option>white</option>
			<option>red</option>
			<option>pink</option>
			<option>lightBlue</option>
			<option>lightCoral</option>
			<option>lightGoldenRodYellow</option>
			<option>lightGray</option>
			<option>lightSeaGreen</option>
			<option>aquamarine</option>
			<option>ghostwhite</option>
			<option>indianred</option>
			<option>lavender</option>
	    	</select>
		</div>

		<div class="edit-option">
			<p>Panel Color</p>
			<select ng-model="store.css.panelcolor">
			<option>black</option>
			<option>blue</option>
			<option>white</option>
			<option>red</option>
			<option>pink</option>
			<option>lightBlue</option>
			<option>lightCoral</option>
			<option>lightGoldenRodYellow</option>
			<option>lightGray</option>
			<option>lightSeaGreen</option>
			<option>aquamarine</option>
			<option>ghostwhite</option>
			<option>indianred</option>
			<option>lavender</option>
			</select>
		</div>
	<button class="btn btn-success" ng-click="saveStore(store.urlName, store)">Save</button>
	<button class="btn btn-danger" ng-click="cancelStoreEdit()">Cancel</button>
  </div>
</div>
<product-list></product-list>

<style>
	body {
		background-color: {{store.css.color}};
	}
	navbar {
		background-color: {{store.css.navcolor}};
		border-radius: {{store.css.round}}px;
	}
	.edit-option {
		display: inline-block;
	}

	h1, h2, h3, h4, h5, h6, p, li {
		font-family: {{store.css.fontFamily}}
	}
	.list-group-item {
		background-color: {{store.css.panelcolor}};
	}
</style>
