<div class="option" ng-hide="!isAdmin && !isOwner">
	<add-product></add-product>
</div>
<div class="button-edit option">
	<button class="btn" ng-show = "(isAdmin || isOwner) && isDetail && !storeEdit" ng-click ="enableStoreEdit()">Edit</button>
</div>
<div >
	<button class="btn btn-back" ui-sref="home">Back to Store List</a>
</div>
<h1 class="main-header">{{store.name}}</h1>
<h5 class="main-header">{{store.description}}</h5>

<div ng-show="storeEdit" class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Edit your store!</h1>
	</div>
	<div class="panel-body {{store.urlName}}">
		<div class=edit-option>
			<p>Store Name</p>
			<input type="text" ng-model="store.name">
		</div>
		<div class="edit-option">
			<p>Store Navbar Roundness (1-50)</p>
			<input type="text" ng-model="store.css.round">
		</div>
		<div class="edit-option">
			<p>Font Type</p>
			<select ng-model="store.css.fontFamily">
			<option>Times New Roman</option>
			<option>Courier New</option>
			<option>Helvetica</option>
			<option>Verdana</option>
			<option>Roboto Condensed</option>
			<option>Poiret One</option>
			<option>Lato</option>

			</select>
		</div>

		<div class="edit-option">
			<p>Store Color</p>
			<select ng-model="store.css.color">
			<option ng-repeat="color in colors">{{color}}</option>
			</select>
		</div>

		<div class="edit-option">
			<p>Navbar Color</p>
			<select ng-model="store.css.navcolor">
				<option ng-repeat="color in colors">{{color}}</option>
	    	</select>
		</div>

		<div class="edit-option">
			<p>Item Color</p>
			<select  ng-model="store.css.panelcolor">
				<option ng-repeat="color in colors">{{color}}</option>
			</select>
		</div>
	<button class="btn" ng-click="saveStore(store.urlName, store)">Save</button>
	<button class="btn btn-danger" ng-click="cancelStoreEdit()">Cancel</button>
  </div>
</div>
<product-list></product-list>
<store-style css="store.css"></store-style>
