<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Edit your store!</h1>
  </div>
  <div ng-if="editMode" class="panel-body {{store.urlName}}">
    
    <p>store navbar roundness</p>
    <input type="text" ng-model="store.css.round">
    <p>store color</p>
    <select ng-model="store.css.color">
      <option>black</option>
      <option>blue</option>
      <option>white</option>
      <option>red</option>
      <option>pink</option>
    </select>
    <p>nav color</p>
    <select ng-model="store.css.navcolor">
      <option>black</option>
      <option>blue</option>
      <option>white</option>
      <option>red</option>
      <option>pink</option>
    </select>
    <button 
      class="btn btn-success"
      ng-click="saveStore(store.urlName, store)">Save style</button>
  
  </div>
</div>

<style>
  body {
    background-color: {{store.css.color}};
  }
  navbar {
    background-color: {{store.css.navcolor}};
    border-radius: {{store.css.round}}px;
  }
</style>