* {
  box-sizing: border-box;
}

$mainColor: #37BEFF;

body {
  background: #fdfdfd;
  // font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Poiret One', cursive;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
	font-weight: 300;
	color: black;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  width: 1200px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'login/main';
@import 'panels/main';
@import 'storefronts/main';
