.store-item {
	border: 1px solid black;
	min-height: 500px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 0;
	.panel-heading {
		background-color: white;
		border-bottom: 1px solid black;
		h1 {
			font-size: 20px
		}
	}

	&.discounted {
		border: 1px solid red;
		.price {
			color: red;
		}
	}

	& > ul >li {
		border: 1px solid black;
	}

	li {
		list-style-type: none;
		font-size: 16px;
	}

	a {
		font-size: 40px;
		text-decoration: none;
		color: black;
		transition: color 0.2s;
		&:hover {
			color: $mainColor;
		}
	}

	product-detail {
		width: 100%;
		// margin: 5px;
	}

	.thumb {
		height: 250px;
		width: 250px;
	}

	.photo-container {
		margin-top: 30px;
	}

	.details {
		padding: 0px;
	}

	.quantity {
		width: 70px;
		margin: 0px;
		float: left;
	}
}
